*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'helvetica', sans-serif;
    background-color: #f7f6f5;
}

input:focus {
    border-color: red;
}




.oauth-input {
    position: relative;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    //border-bottom: 1px solid #e0e0e0;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    z-index: 1;
}

#user-input {
    position: relative;
    border-bottom: 1px solid #e0e0e0;

    label {
        position: absolute;
        z-index: 6;
        left: 0;
        font-size: 12px;
        color: #ccc;
        font-weight: 100;
    }
}





#user-input input {
    position: relative;
    margin-top: 1rem;
}

#user-input::after {
    position: absolute;
    content: '';
    bottom: -1px;
    height: 1px;
    background-color: transparent;
    width: 0;
    display: block;
    z-index: 5;
}

#user-input::after + #OauthUser:focus {
    background-color: #55acee;
    width: 100%;
    transition: width .25s ease;
}







.oauth-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: #55acee;
    color: #fff;
    padding: .5rem 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid transparent;
    width: 100%;
    margin-top: 1rem;
}